.animate {
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-fill-mode: forwards;
}

.fade-in {
    animation-name: fade-in;
}

@keyframes fade-in {
    0% {
        visibility: hidden;
    }

    1% {
        visibility: visible;
        opacity: 0;
        transform: scale(.1);
    }

    100% {
        visibility: visible;
        opacity: 0.5;
        transform: scale(1);
    }
}

.fade-out {
    animation-name: fade-out;
    animation-delay: .1s;
}

@keyframes fade-out {
    0% {
        visibility: visible;
    }

    99% {
        opacity: 0;
        // transform: scale(.5);
    }

    100% {
        visibility: hidden;
    }
}